<!DOCTYPE html>
html(lang="en")
	head
		title OmcorSys
		meta(charset="UTF-8")
		link(rel='stylesheet', href='../static/public/styles.css')
	body
		header
			h1 Welcome OmcorSys
		section#container
		script(src='../static/public/build.js')
	