@import "normalize.styl"
celeste = #008ABF

body
	font-size 16px
	background-color celeste
#container
	padding 1em
	margin auto
	width 660px
	background-color white
	
.order-head
	text-align center
	th
		padding 1em 1em 1em 0
.order-list
	td
		padding 0 1em 0 0 
	text-align center
	
.order-id
	width 70px
.order-date
	width 100px
.order-customer
	width 95px
.order-date_due
	width 131px
.order-weight
	width 39px
.order-amount
	width 48px
.order-state
	width 54px	